*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F3EFEA;
    color: #323232;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word  
}

h1{
    margin: 0;
    color: #F6F6F6;
    font-size: 48px;
    font-family: Tenor Sans, sans-serif;
    font-weight: 400;
    line-height: 72px;
    word-wrap: break-word
}

h2{
    color: #57463A;
    font-size: 48px;
    font-family: Tenor Sans, sans-serif;
    font-weight: 400;
    line-height: 72px;
    word-wrap: break-word   
}

button{
    border: none; 
    outline: none; 
    background: #F6F6F6;
    width: 328px; 
    height: 60px;
    color: #715B4B;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word   
}

.header__nav__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 140px 20.5px 142px;
    border-bottom: 1px black solid;
}

.header__nav__link{
    text-decoration: none;
    color: #323232;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 21px;  
    word-wrap: break-word   
}

.custom_furniture{
    background: linear-gradient(180deg, rgba(49.94, 49.94, 49.94, 0.50) 62%, rgba(0, 0, 0, 0) 100%);
    background-image: url(/img/carpentry_workshop.png);   
    height: 639px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 160px;
}

.custom_furniture_title{
    padding: 218px 448px 90px 449px;
}

.custom_furniture_slogan{
    color: #F6F6F6;
}

.custom_furniture_text{
    color: #F6F6F6;
}

.advantages{
    padding: 0 220px 160px 134px;
}

.advantages_title{
    font-weight: 700;
    border-bottom: 1px #715B4B solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.advantages_cards{
    padding-top: 100px;
    display: flex;  
    justify-content: space-between;
}

.advantages_card{
    display: flex;
    flex-direction: column;
    row-gap: 78px;
}

.portfolio{
    margin: 0 311px 160px;
    display: flex;
    flex-direction: column; 
}

.portfolio_title{
    padding: 0 0 100px 134px;
}

.portfolio_gallery{
    margin-left: -6px;
    margin-top: 21px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.stages_title{
    padding: 0 0 100px 134px;
}

.stages_table{
    list-style-type: none;
    display: table;
    margin: 0 140px 160px 142px;
}

.stages_text{
    font-weight: 300;
    line-height: 16.48px;
    margin-left: 26px;
    margin-bottom: 29.5px;
}

.stages_table_item{   
    border: 1px black solid;
    display: table-cell;
    width: 386px;
}

.stages_table_row{
    display: table-row;
}

.stages_table_item h2{
    margin: 10px 42px 0 291px;
}

.about_title{
    padding: 0 0 100px 140px;
}

.about_images{
    display: flex;
    padding: 0 4px 117px 176px;
    justify-content: space-between;
    align-items: center;
}

.application{
    margin: 0 353px 181px 142px;
}

.application_button{
    margin: 100px 0 0 456px; 
    background: #A1B29F;
    width: 245px; 
    color: #F6F6F6;
}

.footer{
    background: #715B4B;
}

.footer__nav{
    display: flex;
    justify-content: space-between;
    padding: 84px 140px 239px;
}

.footer__nav__item{
    text-decoration: none;
    color: #F6F6F6;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word
}

.footer__nav__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_social_networks :first-child{
    padding-right: 10px;
}




